extends layout

block content
  h1= title
  p Welcome to #{title}
  - let items = results 
   div(class="container-fluid") 
    div(class="row m-1") 
      each item in items  
        - let destination = `dispatch(\"/Season/update?id=${item._id}\")`
        - let destination1 = `dispatch(\"/Season/create\")`
        - let destination2 = `dispatch(\"/Season/detail?id=${item._id}\")`
        - let destination3 = `dispatch(\"/Season/delete?id=${item._id}\")`
        div(class="row-sm-2", class="m-1") Season #{item.Season_type}(#{item.Season_month}) is #{item.temperature}
          button.btn( class="btn-primary ml-1", onclick= destination1, style = "margin:5px;") Create
          button.btn( class="btn-primary ml-1", onclick= destination, style = "margin:5px;" ) Update
          button.btn( class="btn-primary ml-1", onclick= destination2, style = "margin:5px;" ) Detail
          button.btn( class="btn-primary ml-1", onclick= destination3, style = "margin:5px;" ) Delete


   
  script. 
    function dispatch(path){ 
      window.location.href=path 
    } 
  script.
    function buy(itemNo){
      alert(`You chosen season ${itemNo+1}`)
    }
